*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
body{
  background-color: black;
  color: white;
}
.contactus{
  color: #0f5d9d;
  margin-top: 1em;
}
.contactInfo, .message, .contactus{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.message__text, .contactInfo__name, .contactInfo__visitorEmail{
  border: 0.2em solid #025aa2;
  border-radius: 0.38em;
}
.contactInfo__name, .contactInfo__visitorEmail{
  width: 17.5em;
  padding: 1em 1em;
  margin-top: 0.8em;
}
.message__text{
  resize: none;
  width: 31.5em;
  height: 21.5em;
  padding: 1em 0.5em;
  margin-top: 2em;
}
.message__submit, .back{
  width: 6.5em;
  background-color: #025aa2;
  color: white;
  font-size: 0.9em;
  border-radius: 2.5em;
  border-style: solid;
  padding: 0.4em 0.65em;
  margin-top: 1em;
}
.back{
  position: absolute;
  top: 0;
  right: 1.57em;
  width: 5em;
}
.back:hover, .message__submit:hover{
  cursor: pointer;
  box-shadow: 0 0.5em 1em rgba(255, 255, 255, 0.15);
}
