body{
  background-color: black;
  color: white;
  margin-top: 0.7em;
  text-align: center !important;
}
.contactInfo__name, .contactInfo__visitor-email{
  width: 17.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1.9em;
  margin-right: 1em;
}
.message, .contactInfo__name, .contactInfo__visitor-email{
  border: 0.125 solid #890755;
  border-radius: 0.38em;
  font-family:'Times New Roman', Times, serif;
}
.message{
  resize: none;
  width: 31.5em;
  height: 21.5em;
  align-items: center;
}
.submit, .back{
  width: 6.5em;
  background-color: #890755;
  color: white;
  font-size: 0.9em;
  font-family:'Times New Roman', Times, serif;
  border-radius: 2.5em;
  border-style: solid;
  padding: 0.4em 0.65em;
  margin-top: 0.5em;
}
.contactus{
  color: #890755;
}
.back{
  position: absolute;
  top: 0;
  right: 1.57em;
  margin-top: 1em;
  width: 5em;
}
.back:hover, .submit:hover{
  cursor: pointer;
  box-shadow: 0 0.5em 1em rgba(255, 255, 255, 0.15);
}
