*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
body{
  background-color: black;
  color: white;
}
.intro, .bio, .mail, .skills{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
}
.top{
  margin-top: 1em;
  margin-bottom: 1.5rem;
  margin-right: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 100%;
}
.avatar{
  width: 35%;
  border-radius: 31.5em;
}
.top__title{
  font-size: 1.3em;
}
.top__title:hover{
  cursor: pointer;
  color: #890755;
}
.top__hello{
  width: 6.35em ;
  font-size: 1em;
  background-color: white;
  color:  #890755;
  border-radius: 2.5em;
  border-style: solid;
  border-color: #890755;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  margin-left: 1em;
}
.top__hello:hover{
  cursor: pointer;
  background-color: #890755;
  color: white;
}
.bio{
  background-color: #890755;
  height: 31.25em;
  border-radius: 0.4em;
}
.bio__aboutme{
  margin-top: 1em;
  font-size: 1.2em;
  max-width: 31.5em;
  padding-left: 1em;
  padding-right: 1em;
  /* padding:  0 1em 0; */
}
.skills__aboutme{
  max-width: 25em;
  font-size: 1.2em;
}
.skills{
  font-size: 1.2em;
  max-width: 90%;
  margin: -90px auto 1em;
  background-color: white;
  color: black;
  padding: 1em;
  border-radius: 1em;
}
i{
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.6em;
  background-color: #890755;
  color: white;
  border-radius: 50%;
  transition: all 0.3s ease;
}
i:hover{
  transform: scale(0.85);
}
.mail__myemail{
  color: #890755;
}
.skills__position, .skills__language, .skills__tools{
  color: #890755;
  margin-bottom: 1em;
  margin-top: 1em;
}
.mail__recentwork{
  margin-top: 3em;
}

