*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
body{
  background-color: black;
  color: white;
  font-size: 1.1em;
  line-height: 1.5;
}
.intro, .bio, .mail, .skills, .startup, .social, .network, .database{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
}
.top{
  margin-top: 1em;
  margin-right: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 100%;
}
.top__title{
  font-size: 1.2em;
}
.top__title:hover{
  cursor: pointer;
  color: #890755;
}
.top__hello{
  width: 6.35em ;
  font-size: 1em;
  background-color: white;
  color:  #890755;
  border-radius: 2.5em;
  border-style: solid;
  border-color: #890755;
  padding: 0.7em 0;
  margin-left: 1em;
}
.top__hello:hover{
  cursor: pointer;
  background-color: #890755;
  color: white;
}
.intro{
  margin-top: 1.9em;
}
.avatar{
  width: 28em;
  border-radius: 30em;
}
.bio{
  background-color: #890755;
  height: 23em;
  border-radius: 0.4em;
}
.bio__aboutme{
  max-width: 40em;
  padding:  0 1em 2em;
}
.skills__aboutme{
  max-width: 25em;
}
.skills{
  width: 90%;
  margin: -2.8em auto 1em;
  background-color: white;
  color: black;
  padding: 0.9em 1em;
  border-radius: 1em;
}
.skills__position, .skills__language, .skills__tools{
  color: #890755;
  margin-top: 1em;
}
.skills__aboutme, .skills__languageList, .skills__toolsList{
  margin-top: 0.6em;
}
.startup__container{
  background-color: red;
  /* width: 20em; */
}
.startup{
  margin-top: 3em;
}
.startup__myemail, .startup__title, .network__title, .database__title{
  color:#890755;
}
.projects{
  align-items: baseline;
  text-align: center;
  margin-top: 1em;
}
.network, .database{
  display: inline-flex;
  padding: 2em 2em;
  margin: 2em 1.2em;
  height: 13em;
  border: 0.3em solid #890755;
  border-top-color: white;
  border-bottom-color: white;
  border-radius: 1em;
}
.network__text, .database__text{
  margin-top: 0.5em;
}
.social{
  background-color: #890755;
  padding-top: 1em;
  margin-top: 4em;
}
i{
  width:  2.5em;
  height: 2.5em;
  margin: 1em 0.1em;
  padding: 0.75em 0.6em;
  background-color: white;
  color: #890755;
  border-radius: 30em;
  transition: all 0.3s ease;
}
i:hover{
  transform: scale(0.85);
}
@media screen and (max-width: 70em){
  .avatar {
    width: 25em;
}
}
