*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
body{
  background-color: black;
  color: white;
}
.intro, .bio, .mail, .skills, .social-media{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
}
.top{
  margin-top: 1em;
  margin-bottom: 1.5rem;
  margin-right: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 100%;
}
.avatar{
  width: 35%;
  border-radius: 50%;
}
.top__title{
  font-size: 1.3em;
}
.top__title:hover{
  cursor: pointer;
  color: #890755;
}
.top__hello{
  width: 6.35em ;
  font-size: 1em;
  background-color: white;
  color:  #890755;
  border-radius: 2.5em;
  border-style: solid;
  border-color: #890755;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  margin-left: 1em;
}
.top__hello:hover{
  cursor: pointer;
  background-color: #890755;
  color: white;
}
.bio{
  background-color: #890755;
  height: 30em;
  border-radius: 0.4em;
}
.bio__aboutme{
  margin-top: 1em;
  font-size: 1.2em;
  max-width: 31.5em;
  padding:  0 1em 0;
}
.skills__aboutme{
  max-width: 25em;
  font-size: 1.2em;
}
.skills{
  font-size: 1.2em;
  max-width: 90%;
  margin: -5.7em auto 1em;
  background-color: white;
  color: black;
  padding: 1em;
  border-radius: 1em;
}
.skills__position, .skills__language, .skills__tools{
  color: #890755;
  margin-bottom: 1em;
  margin-top: 1em;
}
.projects{
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  margin: 8em 0;
}
.startup-info, .network, .database{
  display: inline-flex;
  flex-direction: column;
  background-color: white;
  border-radius: 35em;
  border: 0.3em solid #890755;
  font-size: 1em;
}
.projects__myemail{
  color: #890755;
}
.projects__startup, .network__title, .database__title{
  color:#890755;
  margin-bottom: 0.5em;
}
.startup-info{
  width: 20em;
  height: 20em;
  border-radius: 35em;
  padding: 6em 0;
  margin: -4em 0.7em;
}
.network, .database{
  width: 22em;
  height: 22em;
  border-radius: 35em;
  margin-right: 1em;
  margin: -2em 0.7em;
  padding: 7em 0.4em;
}
.social-media{
  background-color: #890755;
  padding-top: 1em;
}
i{
  width:  2.5em;
  height: 2.5em;
  margin: 1em 0.1em;
  padding: 0.75em 0.6em;
  background-color: white;
  color: #890755;
  border-radius: 30em;
  transition: all 0.3s ease;
}
i:hover{
  transform: scale(0.85);
}
/* @media screen and (max-width: 1400px) {
  .avatar {
    width: 60%;
  }
} */
